<p id="notice"><%= notice %></p>

<%= month_calendar events: @events do |date, events|%>
	<%= date.day %>
	<% events.each do |event| %>
		<div>
		<% user_id = event.creator_id%>
		<% check_user = User.find_by_id(user_id) %>
		<% if check_user %>
			<% if event.creator_id == current_user.id %>
				<li><%=link_to event.name, event %></li>
				<%=link_to 'Delete', event, method: :delete %>
			<% elsif event.users.include? current_user %>
				<li><%=link_to event.name, event %></li>
				<%=link_to 'Leave', "/event/#{event.id}/users", method: :delete %>
			<% end %>
		<% else %>
			<% events.delete(event)%>
		<% end %>
		</div>
	<% end %>
<% end %>

<p><%= link_to 'Add Event', new_event_path, :class => 'link_button' %></p>
